.myAccordionBlk{
  transform: rotate(-90deg);
  position: absolute;
  left: 30vw;
  bottom: -30vh;
  width: 90vh;
  height: 80vw;
  overflow-x: scroll;
}
/*
.myAccordion{
  background: none;
  border:none;
  box-shadow:none;
  background-color: none;
}
.myAccordion::before{
  background: none;
  border:none;
  box-shadow:none;
  background-color: none;
}

.myAccordion.MuiAccordion-root{
  margin: 0;
}
*/
.myAccordionDetails{
  width:100%;
  transform: rotate(90deg);
  position: relative;
  top: 113px;
  right: -148px;
  min-height: unset;
  margin: 0;
  padding: 0;
  background-color: none;
}

.myAccordionSummary{
  width:100%;
  transform: rotate(90deg);
  position: relative;
  top: 165px;
  right: 100px;
  min-height: unset;
  margin: -40px 0;
  padding: 0;
  background-color: none;
}

.myAccordionSummary .MuiAccordionSummary-content {
  margin: 0;
}


.chronicle_myAccordionBlk:nth-of-type(even){
  background-image:red !important;
}

/******/

/*.MuiStepLabel-iconContainer{
  display:none;
}*/


