.logoFixed{
  position:fixed;
  z-index:8;
  left: 32px;
  top: 36px;
  mix-blend-mode: difference;
  cursor:pointer;
}

.main {
  display: flex;
  /*height: calc(100vh - 64px);*/
  background-color: white;
}

.main > section {
  padding: 130px 32px;
}

@media only screen and (max-width: 900px) {
  .logoFixed{
    width:110px;
    top:32px;
  }
}