.menuOpen {
	position: fixed;
	top: 41px;
	right: 32px;
  z-index:99;
  cursor: pointer;
}
.menuClose{
  padding: 18px;
}
.menuTitleBlk{
  cursor: pointer;
}
.menuTitleBlk:hover{
  color:#545454;
}
.menuTitleList:hover{
  color:#fff;
  cursor: pointer;
}
.highlightD{
  color:#545454;
}
.highlightL{
  color:#fff;
}
.menuTitle{
  font-weight: 400;
  font-size: 26px;
  line-height: 48px;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 130px;
}
.menuTitleEn{
  font-family: Helvetica Neue;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 25px;
  line-height: 48px;
  align-items: center;
}
.menuBack{
  padding: 18px;
  position: relative;
  right: 38vw;
  bottom: -86vh;
}

@media only screen and (max-width: 900px) {
  /* 2nd layer menu modal */
  .menuTitle{
    display: block;
    line-height: 38px;
  }
  .menuTitleEn{
    line-height: 31px;
  }
  .menuTitleList{
    padding-bottom: 20px;
  }
  .menuBack{
    padding: 18px;
    position: relative;
    right: unset;
    bottom: -86vh;
  }
}
