.menuOpen {
	position: fixed;
	top: 41px;
	right: 32px;
  z-index:99;
  mix-blend-mode: difference;
  cursor:pointer;
}
.menuOpenInMain {
	position: fixed;
	top: 41px;
	right: 32px;
  z-index:99;
  cursor:pointer;
}
.menuClose{
  position: fixed;
  top: 32px;
	right: 32px;
  cursor:pointer;
  /*padding: 18px;*/
}
.menuTitleBlk{
  cursor: pointer;
  overflow-y: scroll;
}
.menuTitleBlk:hover{
  color:#545454;
}
.menuTitleList:hover{
  color:#fff;
  cursor: pointer;
}
.highlightD{
  color:#545454;
}
.highlightL{
  color:#fff;
}
.menuTitle{
  font-family: 'Noto Sans TC', Helvetica Neue, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 48px;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 130px;
}
.menuTitleEn{
  font-family: Helvetica Neue, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 25px;
  line-height: 48px;
  align-items: center;
}
.menuBack{
  padding: 0;
  position: absolute;
  left: 60px;
  bottom: 60px;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .menuOpen{
    top: 32px;
  }
  .menuOpenInMain{
    top: 32px;
  }
  /* 2nd layer menu modal */
  .menuTitle{
    display: block;
    line-height: 38px;
  }
  .menuTitleEn{
    line-height: 31px;
  }
  .menuTitleList{
    padding-bottom: 20px;
  }
  .menuBack{
    padding: 0px;
    position: unset;
    right: unset;
    bottom: unset;
  }
  .menuClose{
    position: absolute;
    top: 32px;
    right: 32px;
  }
}

